<launch>

    <arg name="markerId"        default="2"/>
    <arg name="markerSize"      default="0.15"/>    <!-- in m -->
    <arg name="eye"             default="left"/>
    <arg name="marker_frame"    default="current_target"/>
    <arg name="camera_frame"    default="zed2_left_camera_optical_frame"/> <!-- camera reference frame -->
    <arg name="reference_frame"       default="world"/>  <!-- leave empty and the pose will be published wrt param parent_name -->
    <arg name="corner_refinement" default="LINES" /> <!-- NONE, HARRIS, LINES, SUBPIX -->
    <arg name="plan_target"      default="plan_target"/>
    <arg name="current_reference"      default="m600/current_reference"/>
    <arg name="" default=""/>


    <node pkg="aruco_ros" type="single" name="aruco_single">
        <remap from="/camera_info" to="/zed2/zed_node/$(arg eye)/camera_info" />
        <remap from="/image" to="/zed2/zed_node/$(arg eye)/image_rect_color" />
        <param name="image_is_rectified" value="True"/>
        <param name="marker_size"        value="$(arg markerSize)"/>
        <param name="marker_id"          value="$(arg markerId)"/>
        <param name="reference_frame"    value="$(arg reference_frame)"/>   <!-- frame in which the marker pose will be refered -->
        <param name="camera_frame"       value="$(arg camera_frame)"/>
        <param name="marker_frame"       value="$(arg marker_frame)" />
        <param name="plan_target"       value="$(arg plan_target)" />
        <param name="current_reference"       value="$(arg current_reference)" />
        <param name="corner_refinement"  value="$(arg corner_refinement)" />
    </node>

</launch>

